<%- include('./partials/head.ejs') %>

<div class="container-fluid">
  <div class="row my-4">
    <form
      class="d-flex justify-content-center mb-1 hide"
      method="get"
      action="/sell-weight-products"
    >
      <select name="category" class="form-control form-control-lg hide">
        <% category.forEach((ele) => { %>
        <option value="<%= ele.category %>"><%= ele.category %></option>
        <% }) %>
      </select>
      <button class="btn btn-outline-success hide" type="submit">Filter</button>
    </form>
    <div class="col-lg-12 d-flex">
      <% data.forEach((ele) => { %>
      <div class="card m-2" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title"><%= ele.name %></h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">سعر الكيلو: <%= ele.price %> جنيه</h6>
          <h6 class="card-subtitle mb-2 text-body-secondary">الكمية المتاحة: <%= ele.quantity %> كيلو</h6>
          <div class="d-flex justify-content-evenly">
            <a href="/details/<%= ele._id %>" class="btn btn-primary hide"
                >اكثر</a
              >
              <a class="btn btn-success hide" href="/cart/<%= ele._id %>"
                >بيع</a
              >
          </div>
        </div>
      </div>
      <% }) %>
    </div>
  </div>
</div>

<%- include('./partials/footer.ejs') %>
